@{
	Layout = "_LayoutHome";
}
<!-- Single Page Header start -->
@RenderSection("BreadCum",required: false)
<!-- Single Page Header End -->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <h1 class="mb-4">Electronics shop</h1>
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-xl-3">
                        @await Html.PartialAsync("_SearchPanel")
                    </div>
                    <div class="col-6"></div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">
                            @* Categories dynamic using frame component *@
                            @await Component.InvokeAsync("Categories")
                            <div class="col-lg-12">
                                <div class="mb-3">
                                  
                                </div>
                            </div>
                            
                            <div class="col-lg-12">
                                
                               
                            </div>
                        
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row g-4 justify-content-center">
                          @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>