@model Ecommerce.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Đăng nhập";
}
<link href="~/css/Login.css" rel="stylesheet">

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./style.css" />
    <title>@ViewData["Title"]</title>
</head>

<body>
    <section>
        <div class="login-container">
            <h2 style="color:white !important">Login</h2>

            <form asp-action="DangNhap" method="post">
                <div class="input-box">
                    <span class="icon">
                        <i class="fa-solid fa-envelope"></i>
                    </span>
                    <input asp-for="UserName" required type="text" id="email">
                    <label asp-for="UserName" for="email">User Email</label>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="input-box">
                    <span class="icon">
                        <i class="fa-solid fa-lock"></i>
                    </span>
                    <input asp-for="Password" required type="password" id="contraseña">
                    <label asp-for="Password" for="contraseña">User Password</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="remember-forgot">
                    <label>
                        <input type="checkbox" name="RememberMe"> Remember
                    </label>
                    <a href="*">Forgot password</a>
                </div>

                <button type="submit">Login</button>
            </form>

            <div class="create-account">
                <a asp-controller="Register" asp-action="DangKy">Register</a>
            </div>
        </div>
    </section>
</body>
</html>

