@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;800&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

    a::after {
        content: "";
    }

    a:hover::after {
        display: block;
        border: 1px solid white;
        animation: under-line .5s ease-in-out 1;
    }

@keyframes under-line {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://images2.alphacoders.com/130/1308322.jpeg) center;
    background-size: cover;
    color: #fff;
}

.login-container {
    height: 450px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(5px);
    border: 1px white solid;
    border-radius: 20px;
}

h2 {
    font-size: 1.75em;
    margin: 0 0 20px;
    filter: drop-shadow(0 6px 2px black);
}

.input-box {
    position: relative;
    border-bottom: 2px solid white;
    margin: 30px 0;
    width: 310px;
}

    .input-box label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        pointer-events: none;
        font-size: 1em;
        transition: .5s;
    }

    .input-box input:valid ~ label,
    .input-box input:focus ~ label {
        top: -5px;
    }

    .input-box input {
        background: transparent;
        border: none;
        outline: none;
        color: white;
        width: 100%;
        height: 50px;
        font-size: 1em;
        padding: 0 40px 0 5px;
    }

    .input-box .icon {
        position: absolute;
        right: 8px;
        font-size: 1.4em;
        line-height: 45px;
    }

.remember-forgot {
    display: flex;
    justify-content: space-between;
    width: 310px;
    margin: 0 0 20px;
}

button {
    height: 40px;
    width: 310px;
    border-radius: 20px;
    margin: 0 0 10px;
    outline: none;
    border: none;
    background: white;
    color: black;
    transition: .3s;
}

    button:hover {
        background-color: rgba(255, 255, 255, .8);
    }

.create-account {
    margin: 12px 0 0 0;
}

@media screen and (max-width: 360px) {
    .login-container {
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: none;
    }
}
